/* Tus estilos CSS existentes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white !important; /* Fondo negro */
    color: white; /* Texto blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    border-radius: 8px;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

.login-button {
    width: calc(90% - 20px);
    padding: 10px;
    margin-right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}